<div class="backdrop container">
  <div class="row">
    <div id="pane1" class="col-md-4"></div>
    <div id="pane2" class="col-md-4"></div>
    <div id="pane3" class="col-md-4"></div>
  </div>
  <div id="main"></div>
</div>
<script>$(Final.initialize);</script>
