<!-- Warming Up -->
<link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>

<div class="sign-up-log-in">

  <header>
    <h1 class="auto-wizard">AutoWizard</h1>

    <h2>Log In</h1>

    <span class="spanFormat">
      <form action="<%= session_url %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <div class="form-group">
          <label>Username<br>
            <input class="user-input" name="user[username]" type="text"><br>
          </label>
        </div>

        <div class="form-group">
          <label>Password<br>
            <input class="user-input" name="user[password]" type="password"><br>
          </label>
        </div>

        <input type="submit" value="Submit" class="login-button btn btn-primary"><br>
      </form>
    </span>

    <span class="spanFormat">
      <form class="guest-button" action="<%= session_url %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="user[username]" value="varun">
        <input type="hidden" name="user[password]" value="varun">
        <div class="form-group">
          <button class="btn btn-primary" id="guestLogin">Guest Login</button>
        </div>
      </form>
    </span>

  </header>

  <div class="wrapper">
    <div class="screen" data-video="/assets/bmw_commercial.mp4">
    </div>
  </div>

  <script>

  var BV,
  isTouch = Modernizr.touch;

  if (!isTouch) {
    // initialize BigVideo
    BV = new $.BigVideo({forceAutoplay:isTouch});
    BV.init();
    showVideo();

    // adjust image positioning so it lines up with video
    $bigImage
    .css('position','relative')
    .imagesLoaded(adjustImagePositioning);
    // and on window resize
    $(window).on('resize', adjustImagePositioning);
  }

  function showVideo() {
    BV.show($('.screen').attr('data-video'),{ambient:true}); //ambient true means no sound
  }

</script>

</div>
