// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
  padding: 0 0 50px 0;
}

div.carousel {
  /* set desired height and width according to image size */
  height: 450px;
  width: 800px;
}

div.carousel > div.items {
  /* relative so that inner absolutes are against the items, not the
  viewport */
  position: relative;
  overflow: hidden;

  /* set height to be the same as carousel */
  height: 100%;
  width: 100%;
}

div.carousel > div.items > *:not(.active) {
  display: none;
}

div.carousel > div.items > *.active {
  position: absolute;
  left: 0%;
  width: 100%;

  transition: left 500ms linear;
}

div.carousel > div.items > *.active.left {
  left: -100%;
}

div.carousel > div.items > *.active.right {
  left: 100%;
}
