<div class="car-info">
  <h1 class="text-center">
    <span><%= car.escape('make') %></span>
    <span><%= car.escape('model') %></span>
    <span><%= car.escape('trim_name') %></span>
  </h1>
</div>
