<h3 class="hvr-radial-out msrp">MSRP: $<%= finalPrice %></h3>

<ul>
  <% features.each(function(feature) { %>
    <li>
      <%= feature.escape('name') %>
      <ul>
        <li>$<%= feature.escape('price') %></li>
      </ul>
    </li>
  <% }) %>
</ul>
