<h5>MSRP: $<%= finalPrice %></h5>

<ul>
  <% features.each(function(feature) { %>
    <li>
      <%= feature.escape('name') %>
      <ul>
        <li>$<%= feature.escape('price') %></li>
      </ul>
    </li>
  <% }) %>
  <li>

  </li>
</ul>
