<div class="panel panel-warning">
  <div class="panel-heading">
    <h1 class="all-models">Select A Model</h1>
  </div>

  <div class="panel-body">
    <ul class="makes-models-trims">
      <% models.each(function(model) { %>
        <li class="list-group-item" data-name="<%= model.escape('name') %>">
          <a><%= model.escape('name') %></a>
        </li>
        <% }) %>
      </ul>
    </div>
</div>
