<h1>Select A Trim</h1>

<ul class="makes-models-trims">
  <% trims.each(function(trim) { %>
    <li class="list-group-item" data-style-id="<%= trim.escape('id') %>" data-name="<%= trim.escape('name') %>">
      <a><%= trim.escape('name') %></a>
    </li>
  <% }) %>
</ul>
